.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.App-content {
  width: 100%;
  max-width: 1200px;
  font-size: calc(10px + 2vmin);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.App-figure img {
  width: 500px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  margin: 6px;
}
.App-title-results {
  align-items: center;
  text-transform: uppercase;
}
