.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.App-content {
  background-color: rgb(110, 108, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
