.App {
  text-align: center;
}

.App-content {
  background-color: rgb(25, 212, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
