body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #18181a;
  color: #f3f3f3;
}

code {
  font-family: cascadia Code, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
/* 
a {
  color: #09f;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/*Component / header */
/* .o-header {
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 20;
  max-height: 48px;
} */
